
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_section {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* Icon button styling */
.icon_btn {
  background: none;
  border: none;
  font-size: 24px; /* Adjust icon size */
  cursor: pointer;
  color: white; /* Example color */
}

/* Hamburger menu dropdown */
.hamburger_menu {
  position: relative; /* For dropdown positioning */
}

/* Dropdown menu styles */
.dropdown_menu {
  position: absolute;
  top: 100%; /* Place it below the button */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown_menu li {
  padding: 10px 20px;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown_menu li:hover {
  background-color: #f4f4f4;
}

.social_media_icons {
  display: flex;
  gap: 10px; /* Spacing between icons */
  margin-bottom: 5px; /* Space between icons and logo */
}

.social_media_icons a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.social_media_icons a:hover {
  color: #0077b5; /* Change color on hover (e.g., blue for Facebook) */
}

